@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}
/* shared styles */
.display-flex{
    display: flex;
}
.nav-color{
    color: rgba(137, 135, 161, 1);
}
 .nav-bar,.banner-parent , .card-section{ 
     max-width: 1140px;
    margin: 0 auto; 
 } 
.color-1{
    color: rgba(0, 0, 0, 0.5);
}
/* nav styles */
.nav-bar{
    justify-content: space-between;
    align-items: center;
}
.nav-li{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
}
.black{
    color:rgba(0, 0, 0, 1) 
}
/* banner style */
.banner-parent{
 margin-top: 226px; 
 padding: 0 150px;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
    color: rgba(233, 90, 8, 1);
    
}
.banner-des{
    font-size: 1.25rem;
    font-weight: 400;
    text-align: left;
    padding: 13px;
}

/* our-plants */
.plant-content{
    margin-top: 150px;
}
.plant-title{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color:rgba(233, 90, 8, 1) ;
}
.plant-des{
    font-size: 1.25rem;
    text-align: center;
}
.card-section , .card-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 50px;
    width: 1140px; 
    height: 1000;
}
.card-content{
    margin: 20px;
    gap: 20px;
}
.card-title{
    font-size: 1.25rem;
    text-align: center;
    ;
}
.card-des{
font-weight: bold;
font-size: 1.25rem;
text-align: center;
margin-top: 20px;
}
 .card-btn{
    background-color: rgba(233, 90, 8, 1);
    width: 270px;
    height: 50px;
    color: white;
    border: none;
}


/* responsive for small device */
@media screen and (max-width:576px){
    .nav-link{
        display: none;
    }
    .banner-parent{
        flex-direction: column-reverse;
        margin-left: 0px;
        margin-top: 26px;
        gap: 100px;
     }
    .banner-pic{
        width: 100%;
    }
    .banner{
        width: 361px;
        height: 147px;
        margin-top: 26px;
        gap: 13px;
    }
    .banner-title{
        font-size: 1.25rem; 
        margin: 0px;
        width: 200px;
        height: 40px;
    }
    .banner-parent{
        height: 100%;
        width: 100%;
        margin: 0 auto;
        padding: 0px;
    }
    .card-section , .card-content{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-top: 50px;
    width: 1140px; 
    height: 1000;
    }
    
}   


